@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
*,
html,
body,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #fa8b02;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #d77a08;
}

a {
    color: #333333;
    text-decoration: none;
    transition: 0.2s;
}
a:hover {
    color: #fa8b02;
    transition: 0.2s;
}

ul[class],
ol[class] {
    list-style: none;
    padding: 0;
}

.wrap {
    flex-wrap: wrap;
}
.container {
    max-width: 70%;
    margin: 0 auto;
}

.flex-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-start-start {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.flex-start-center {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flex-end-center {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.flex-between-start {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.flex-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-col-between-start {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.flex-col-start-start {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.flex-col-center-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-bold {
    font-weight: 700;
}

.divider {
    height: 1px;
    width: 100%;
    background-color: #efefef;
}

.full-width {
    width: 100%;
}

.cursor-pointer {
    cursor: pointer;
}

button {
    background-color: white;
    padding: 0;
    border: none;
    border-radius: 0;
    cursor: pointer;
    font-size: inherit;
    font-weight: inherit;
}

.spinner {
    animation: spin 1.5s infinite ease-in-out;
    border-radius: 50%;
    border-top: 2px solid #fff;
    display: inline-block;
    height: 20px;
    width: 20px;
    color: black;
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 1359px) {
    .container {
        max-width: 80%;
    }
}

@media only screen and (max-width: 1199px) {
    .container {
        max-width: 85%;
    }
}
